[submodule "libraries/Catena-Arduino-Platform"]
	path = libraries/Catena-Arduino-Platform
	url = https://github.com/mcci-catena/Catena-Arduino-Platform.git
[submodule "libraries/MCCI-Catena-PMS7003"]
	path = libraries/MCCI-Catena-PMS7003
	url = https://github.com/mcci-catena/MCCI-Catena-PMS7003.git
[submodule "libraries/arduino-lmic"]
	path = libraries/arduino-lmic
	url = https://github.com/mcci-catena/arduino-lmic.git
[submodule "libraries/arduino-lorawan"]
	path = libraries/arduino-lorawan
	url = https://github.com/mcci-catena/arduino-lorawan.git
[submodule "libraries/Catena-mcciadk"]
	path = libraries/Catena-mcciadk
	url = https://github.com/mcci-catena/Catena-mcciadk.git
[submodule "libraries/SGPC3"]
	path = libraries/SGPC3
	url = git@github.com:mcci-catena/SGPC3.git
[submodule "sketches/model4841-production-lorawan"]
	path = sketches/model4841-production-lorawan
	url = git@github.com:mcci-catena/model4841-production-lorawan.git
[submodule "libraries/MCCI-Catena-SHT3x"]
	path = libraries/MCCI-Catena-SHT3x
	url = git@github.com:mcci-catena/MCCI-Catena-SHT3x.git
[submodule "libraries/MCCI_FRAM_I2C"]
	path = libraries/MCCI_FRAM_I2C
	url = git@github.com:mcci-catena/MCCI_FRAM_I2C.git
[submodule "extra/bootloader"]
	path = extra/bootloader
	url = git@github.com:mcci-catena/bootloader.git
[submodule "extra/Arduino_Core_STM32"]
	path = extra/Arduino_Core_STM32
	url = git@github.com:mcci-catena/Arduino_Core_STM32.git
[submodule "extra/dfu-util"]
	path = extra/dfu-util
	url = git@gitlab-x.mcci.com:vendor/dfu-util/dfu-util.git
[submodule "extra/tools-build-with-cli"]
	path = extra/tools-build-with-cli
	url = git@github.com:mcci-catena/tools-build-with-cli.git
